.content {
    margin-top: 177px
}

.cafe-homepage {
    text-align: center;
    padding: 50px;
    min-height: 100vh;
    transition: background-color 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  /* Centers content vertically */
    position: relative;
}

    .cafe-homepage p {
    font-size: 1.5rem;
    color: #555;
}

.cafe-color-box {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    transition: background-color 0.5s ease-in-out;
}

.cafe-color-box.cafe-red {
    background-color: red;
}

.cafe-color-box.cafe-blue {
    background-color: blue;
}

.cafe-button {
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.cafe-button:hover {
    background: #ff9900;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #ffcc00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background-color: #ff9900;
}

.landing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 240px;
}

.signup{
    width: 150px;
    height: 40px;
}